.card {
    width: 480px;
    height: 585px;
    position: absolute;
    background-color: transparent;
    top: 238px;
    left: 188px;
    border: none;
}

.card-img {
    opacity: 50%;
    width: 268px;
    height: 86px;
    align-self: center;
    padding: 65px 0;
}

.card-body {
    text-align: left;
    height: 45%;
    background-color: rgba(208, 68, 135, 0.352);
}

.card-body h1 {
    color: #8998e1;
}


.list {
    gap: 10px;
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
}

.img-glass {
    width: 100%;
}

