.card {
    width: 480px;
    height: 585px;
    position: absolute;
    background-color: transparent;
    top: 205px;
    left: 188px;
    border: none;
}

.card-img {
    width: 268px;
    height: 86px;
    align-self: center;
    padding: 65px 0;
}

.card-body {
    text-align: left;
    height: 50%;
    background-color: rgba(208, 68, 135, 0.352);
}

.card-body h1 {
    color: rgb(68, 96, 235);
}
.card-body p{
    font-size: 50px;
}
.listGlasses {
    gap :10px;
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    display: flex;
}


.img-btn-glass {
    width: 100%;
}

.items {
    margin-top: 100px;
}

button.glass {
    border: 1px solid rgba(128, 128, 128, 0.465);
}

button.glass:hover {
    border-color: red;
}

img.img-btn-glass {
    width: 100px;
}

.card-body p {
    font-size: 12px;
}

